version: '3.7'

services:
  frontend:
    build:
      context: .
      args:
        - FRONTEND_PREFIX=${FRONTEND_PREFIX}
    ports:
      - 3333:3333
    environment:
      - PORT=${PORT}
      - FRONTEND_PREFIX=${FRONTEND_PREFIX}
      - API_URI=${API_URI}
      - TELEGRAM_TOKEN=${TELEGRAM_TOKEN}
      - TELEGRAM_CHAT_ID=${TELEGRAM_CHAT_ID}
    volumes:
    - ./public:/app/public
#  nginx:
#    image: nginx:latest
#    volumes:
#    - ./nginx.example.conf:/etc/nginx/nginx.conf
#    - /etc/certs/profile:/etc/certs/profile
#    - /var/cache/nginx:/var/cache/nginx
#    - /var/log/nginx:/var/log/nginx
#    ports:
#    - 80:80
#    - 443:443
#    depends_on:
#      - frontend
