version: '3.7'

services:
  frontend:
    build: 
      context: .
      args:
        - FRONTEND_PREFIX=${FRONTEND_PREFIX}
    ports:
      - 3333:3333
    environment:
      - PORT=${PORT}
      - FRONTEND_PREFIX=${FRONTEND_PREFIX}
      - API_URI=${API_URI}
      - TELEGRAM_TOKEN=${TELEGRAM_TOKEN}
      - TELEGRAM_CHAT_ID=${TELEGRAM_CHAT_ID}
  nginx:
    image: nginx:latest
    volumes:
    - ./nginx.example.conf:/etc/nginx/nginx.conf
    ports:
    - 80:80