name: 'Build and Deploy'
on:
  workflow_dispatch:
    inputs:
      app_version:
        type: number
        description: App version

env:
  tf_version: '1.5.5'
  tg_version: '0.50.17'
  tg_working_dir: './terragrunt'
  image_name: "app-profile"

jobs:
  build:
    name: 'Docker build'
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout Git'
        uses: actions/checkout@v3

      - name: 'Set up Docker Buildx'
        uses: docker/setup-buildx-action@v2

      - name: 'Login to Yandex Docker Registry'
        uses: docker/login-action@v2
        with:
          registry: ${{ secrets.registry_id }}
          username: json_key
          password: ${{ secrets.authorized_key }}

      - name: 'Build and Push Docker Image'
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          provenance: false
          cache-from: type=gha
          cache-to: type=gha,mode=max
          tags: ${{ secrets.registry_id }}/${{ env.image_name }}:v${{ github.event.inputs.app_version }}
  terragrunt:
    name: 'Terragrunt deploy'
    needs: [build]
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout Git'
        uses: actions/checkout@v3

      - name: 'Generate authorized_key.json'
        run: echo $AUTHORIZED_KEY > ${{ env.tg_working_dir }}/authorized_key.json
        env:
          AUTHORIZED_KEY: ${{ secrets.AUTHORIZED_KEY }}

      - name: 'Terragrunt Plan'
        uses: gruntwork-io/terragrunt-action@v1
        with:
          tf_version: ${{ env.tf_version }}
          tg_version: ${{ env.tg_version }}
          tg_dir: ${{ env.tg_working_dir }}
          tg_command: 'run-all plan'
        env:
          TF_VAR_image_name: ${{ secrets.registry_id }}/${{ env.image_name }}:v${{ github.event.inputs.app_version }}
          TF_VAR_cloud_id: ${{ secrets.CLOUD_ID }}
          TF_VAR_folder_id: ${{ secrets.FOLDER_ID }}
          TF_VAR_certificate_id: ${{ secrets.CERTIFICATE_ID }}
          TF_VAR_telegram_token: ${{ secrets.TELEGRAM_TOKEN }}
          TF_VAR_telegram_chat_id: ${{ secrets.TELEGRAM_CHAT_ID }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: 'Terragrunt Apply'
        uses: gruntwork-io/terragrunt-action@v1
        with:
          tf_version: ${{ env.tf_version }}
          tg_version: ${{ env.tg_version }}
          tg_dir: ${{ env.tg_working_dir }}
          tg_command: 'run-all apply'
        env:
          TF_VAR_image_name: ${{ secrets.registry_id }}/${{ env.image_name }}:v${{ github.event.inputs.app_version }}
          TF_VAR_cloud_id: ${{ secrets.CLOUD_ID }}
          TF_VAR_folder_id: ${{ secrets.FOLDER_ID }}
          TF_VAR_certificate_id: ${{ secrets.CERTIFICATE_ID }}
          TF_VAR_telegram_token: ${{ secrets.TELEGRAM_TOKEN }}
          TF_VAR_telegram_chat_id: ${{ secrets.TELEGRAM_CHAT_ID }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

